parsers/definicoes.dtd

<?xml version="1.0" encoding="utf-8"?>
<!ELEMENT cardapio (prato+)>
<!ATTLIST prato id ID #REQUIRED>
<!ELEMENT prato (nome, descricao, ingredientes, preco, calorias, tempoPreparo)>
<!ELEMENT ingredientes (ingrediente+)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingrediente (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempoPreparo (#PCDATA)>
<!ATTLIST preco moeda (BRL|USD) "BRL">
<!ENTITY reais "R$">